:root {
    --primary: rgb(44,222,115);
    --lightest: rgb(249,249,249);
    --light: rgb(241,241,241);
    --Mid: rgb(207,207,207);
    --Dark: rgb(155,155,155);
    --Darkest: rgb(44,44,44);
}
body{
    background-color:  rgb(237, 241, 242);;
    font-family: 'Montserrat';
    margin: 0;
}
img {
    width: auto;
}

.menu{
    display: grid;
    justify-content: center;
    background-color: var(--lightest);
    margin-left: 1fr;
    margin-right: 1fr;
}

.text-menu {
    display: flex;
    align-items: center;
    margin-bottom: auto;
    width: auto;
    height: 50px;
    background-color: var(--light);
}

.text-menu h3 {
    margin-left: 45px;
    font-size: 20px;
    font-weight: 500;
    
}
.text-menu p {
    margin: 0;
    font-size: 13px;
    margin-left: 10px;
    color: var(--Dark);
}

.records {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: auto;
    margin-left: 26px;
}

.records h3 {
display: flex;
}
.records p {
    margin-left: 12px;
    margin-top: 22px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/* .button {
    display: flex;
    flex-direction: row;
    margin-right: 250px;
} */

.complete-record {
    float: left;
    width: 200px; /* Ancho de cada caja */
    height: 200px; /* Altura de cada caja (puedes ajustar según sea necesario) */
    
}
.old-content {
    display: flex;
    flex-direction: column;
}
.Caracter{
    text-align: end;
}
/* .progress {
    display: grid;
    place-items: end;
    margin-left: 0;
    width: 90%;
} */

/* 
.img-progress{
    width: 250px;
    height: 6px;
    background: #999; 
} */
/* .Primary-button {
    width: 180px;
    height: 40px;
    border-radius: 2;
    background: var(--primary);
    border: 0;
}
.Secondary-button{
    width: 180px;
    height: 40px;
    margin-left: 18px;
    border-radius: 2;
    background: var(--Dark);
    border: 0;
} */